<!-- Intro Section -->
<div>
  <div class="main">
    <div class="intro">
      <img
        class="izal"
        src="assets\images\izalwithline.png"
        alt="izal -"
        width="400px"
      />
      <p>PHOTOSHOP ARTIST</p>
    </div>
    <div class="guitar">
      <img
        id="fiery_Guitar"
        class="fieryGuitar"
        src="assets\images\fieryguitar.jpg"
        alt="Fiery Guitar"
      />
    </div>
  </div>
</div>

<!-- <div class="lookingback">
  <div class="lb-img">
    <img src="assets\images\Looking back.jpg" alt="Looking Back" />
  </div>
  <div class="lb-desc">
    <h2>Looking Back</h2>
    <div>
      <p>The feeling you</p>
      <p>get when you</p>
      <p>look back...</p>
    </div>
  </div>
</div>
<div class="horizon">
  <div class="h-img">
    <img src="assets\images\close to the horizon.jpg" alt="Horizon" />
  </div>
  <div class="h-desc">
    <h2>Horizon</h2>
    <div>
      <p>So close,</p>
      <p>yet</p>
      <p>so far...</p>
    </div>
  </div>
</div> -->

<div class="lbandh">
  <div class="lb-img">
    <img src="assets\images\Looking back.jpg" alt="Looking Back" />
  </div>
  <div class="lb-desc">
    <div class="lb-desc1">
      <p>Looking Back</p>
    </div>
    <div class="lb-desc2">
      <p>The feeling you</p>
      <p>get when you</p>
      <p>look back...</p>
    </div>
  </div>

  <div class="h-img">
    <img src="assets\images\close to the horizon.jpg" alt="Horizon" />
  </div>
  <div class="h-desc">
    <div class="h-desc1"><p>Horizon</p></div>
    <div class="h-desc2">
      <p>So close,</p>
      <p>yet</p>
      <p>so far...</p>
    </div>
  </div>
</div>
