<!-- Navbar Section -->
<nav>
  <!-- For Hamburger menu -->
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <a href="#"
    ><img
      src="assets\images\izal logo.png"
      alt="izal Logo"
      height="115px"
      class="izalLogo"
  /></a>
  <ul>
    <li>
      <a href="#myworks" class="navtab works" id="my_works">MY WORKS</a>
    </li>
    <li>
      <a href="#contactme" class="navtab contact" id="contact_me">CONTACT ME</a>
    </li>
  </ul>
</nav>
