<!-- Section for Contact Me -->
<div>
  <div class="contactme" id="contactme">
    <div class="image">
      <hr />
      <img
        src="assets\images\Cycling across planets.jpg"
        alt="Cycling across Planets"
      />
    </div>

    <!-- Form elements -->
    <div class="contactform" id="contactform">
      <h3 id="contactheading">Get in Touch</h3>
      <br />
      <form id="myForm" name="submitForm" method="GET">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" required /><br /><br />
        <label for="emailaddress">Email Address:</label><br />
        <input
          type="text"
          id="emailaddress"
          name="emailaddress"
          required
        /><br /><br />
        <label for="message">Message:</label><br />
        <textarea
          id="message"
          name="message"
          cols="40"
          rows="5"
          required
        ></textarea
        ><br /><br />
        <div class="submitdiv" id="submitdiv">
          <button id="submitbutton" class="submit" type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer Section -->
  <div class="footer">
    <div class="hr hr1">
      <hr />
    </div>
    <div class="footermiddle">
      <footer>
        <a
          ><img
            class="facebook"
            src="assets\images\facebooklogo.png"
            alt="Facebook icon"
            width="41.6px"
        /></a>
        <a
          ><img
            src="assets\images\instagramlogo.png"
            alt="Instagram icon"
            width="46.4px"
        /></a>
        <a
          ><img
            src="assets\images\youtubelogo.png"
            alt="Youtube icon"
            width="51.2px"
        /></a>
        <a
          ><img
            class="twitter"
            src="assets\images\twitterlogo.png"
            alt="Twitter icon"
            width="41.6px"
        /></a>
        <div>
          <img
            class="footerizal"
            src="assets\images\izal logoshortened.png"
            alt="izal logo"
            width="86px"
          />
        </div>
        <p>copyright &#169; 2021 izal</p>
      </footer>
    </div>
    <div class="hr hr2">
      <hr />
    </div>
  </div>
</div>
