<!-- My Works Section -->
<section class="works">
  <div class="myworks" id="myworks">
    <div class="myworksheading">
      <h2>My<br />Works</h2>
    </div>
    <div class="filler1"></div>
    <div class="img1">
      <img
        class="surrealGlobe"
        src="assets\images\Surreal Globe.jpg"
        alt="Surreal Globe"
      />
    </div>
    <div class="filler2"></div>
    <div class="img2">
      <img src="assets\images\Sliced Up.jpg" alt="Sliced Up" />
    </div>
    <div class="filler3"></div>
    <div class="img3">
      <img
        src="assets\images\immersed in knowledge.jpg"
        alt="Immersed in Knowledge"
      />
    </div>
    <div class="filler4"></div>
    <div class="img4">
      <img src="assets\images\golden deer.jpg" alt="Golden deer" />
    </div>
    <div class="filler5"></div>
    <div class="img5">
      <img src="assets\images\camerified.jpg" alt="Camerified" />
    </div>
    <div class="filler6"></div>
    <div class="img6">
      <img src="assets\images\cat'n'butterfly.jpg" alt="Cat'n'butterfly" />
    </div>
    <div class="filler7"></div>
    <div class="img7">
      <img src="assets\images\crosslines.png" alt="Crosslines" />
    </div>
  </div>
</section>
